/*- - - - - - - - - - - - ELEMENT DESIGN*/

body {
  margin: 0;
  font-family: Helvetica;
  background: linear-gradient(to bottom, rgba(255,255,255,0.92) 16%,rgba(255,255,255,0.83) 59%,rgba(255,255,255,0.79) 80%,rgba(255,255,255,0.68) 100%), url('https://github.com/yaycake/pansexual/blob/master/Images/makingout.png?raw=true');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 12.5rem!important;
  font-family: Helvetica;
}

h3{
  font-size: 2rem;
}

p{
  font-size:16px;
}

ul>li{
  display: inline;
  padding: 10px 20px;
  color: black;
  font-size: 1rem;
  letter-spacing: .25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.container{
  padding: 0;
}

.responsiverow{
  display:flex;
  justify-content: space-around;
}
/*- - - - - - - - - - - - - CLASSES*/


.navbar{
  padding: 1.5rem;
/*  padding-top: 30px;*/
  list-style: none;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  text-shadow: 2px 2px 5px rgba(5,5,5,.09);
  position: fixed!important;
  /*height: 100%;*/
  min-height: 4rem;
  max-height: 12.5rem;
  width: 100%;
  margin: 0 auto;
  color: black;
  z-index: 99;
  /*clear: all;*/
}

span>a, .navbar-left{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  letter-spacing: .25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.top-links{
  padding: 1rem;
}

.icons-nav{
  width: 20px;
  height: auto;
}

.logo {
  width: 3rem;
  height: auto;
  /*padding: 2rem;*/
  margin: 1rem 2rem;
}

.navbar-left, .navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-right{
  margin-right: 2rem!important;
}

/*- - - - - - - - - - BANNER*/
.banner {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem;
}

.banner>h1{
  margin: 0 auto;
}

/*- - - - - - - - - - - SECTIONS*/

.section {
  /*height: 60vh;*/
  margin: 5rem;
  padding: 50px 0px;
  /*width: 100%;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.section-title>h3{
  margin: 10px;
}
/*- - - - - - - - - - - - PIX*/

.section-pic {
  min-height: 32rem;
  min-width: 32rem;
  max-height: 40rem;
  max-width: 40rem;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  border-right: 5px solid rgba(222,255,147,1);
  margin: 0 auto;
}

/*- - - - - - - - - - SECTION PICTURES ARE BKGRND PIX*/
.about-pic {
  background-image: url('https://github.com/yaycake/pansexual/blob/master/Images/horse.jpg?raw=true');
}

.download-pic{
  border-right: none;
  border-left: 5px solid rgba(222,255,147,1);
  background-image: url('https://github.com/yaycake/pansexual/blob/master/Images/choke.jpg?raw=true');
}

.donate-pic{
  background-image: url('https://github.com/yaycake/pansexual/blob/master/Images/vag.jpg?raw=true');
  background-size: cover;
}

.instagram-gallery{
  height: 200px;
}


/*- - - - - - - - - - - - - FOOTER*/

.footer {
  background-color: black;
  height: 3rem;
  width: 100%
  color: white;
  /*text-align: center;*/
  font-size: .75rem;
}

/*- - - - - - - - - - - - - - CARDS REFER TO TEXT + BUTTON BOXES*/

/*- - - - - - - - CARD ITSELF*/
.text-card {
  height: 100%;
  width: 45rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  background: rgba(255,255,255,.2);
  margin: 0 auto;
}


.about-card, .donate-card {
  text-align: left;
  margin-left: 20px;
}

.download-card {
  text-align: right;
  margin-right: 20px;
}

/*- - - - - - - - - CARD TITLE*/

.card-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.card-title>h3{
  margin: 10px;
}

.download-card>.card-title{
  justify-content: flex-end!important;
}



/*- - - - - - - - - - - CARD TEXT*/
.card-text{
  line-height: 1.5rem;
  margin-bottom: 1rem;
  line-height:2rem;
  /*font-size: 1rem;*/
  /*font-size: 16px;*/
  /*padding-right: 6rem;*/
}


.download-text{
  text-align: right;
}


.about-text, .donate-text{
  /*padding-right: 6rem;*/
}


/*- - - - - - - - - - - - - - - - BUTTON*/

.button {
  /*background-color: rgba(222,255,147,1);*/
  background-color:black;
  color: white;
  width: 200px;
  height: 40px;
  width: 200px;
  border-radius: 2px;
  padding: 0px 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid rgba(222,255,147,1);
  border-right: 5px solid rgba(222,255,147,1);
}

.button>a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.download-button{
  margin-left: auto;
}

.donate-button {
  height: 40px;
  margin: 1px;
}

.payment-button{
  width: 100%
  height: auto;
}

.payment-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px
}

.paypal, .bitcoin {
  width: 150px
}

.bitcoin-qr{
  width: 5rem;
  height: auto;
}

.contactme {
  width: 200px;
}

/*- -- - - - - - - - - - ICONS*/
.icons {
  width: 30px;
  height: 30px;
  margin: 30px;
}



/*- - - - - - - - - - - - - - - ALL THESE DEVICES WOMAN*/
@media only screen and (max-width: 964px) body {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (max-width: 964px) .navbar {
    -webkit-height:3rem;
    -ms-height: 3rem;
    height: 3rem;
}




/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}

