/*- - - - - - - - - - - - ELEMENT DESIGN*/

body {
  margin: 0;
  font-family: Helvetica;
  background: linear-gradient(to bottom, rgba(255,255,255,0.92) 16%,rgba(255,255,255,0.83) 59%,rgba(255,255,255,0.79) 80%,rgba(255,255,255,0.68) 100%), url('https://github.com/yaycake/pansexual/blob/master/Images/makingout.png?raw=true');
  background-attachment: fixed;

}

h1 {
  font-size: 4rem;
  font-family: Helvetica;
}

h3{
  font-size: 2rem;
}

ul>li{
   display: inline;
   /*text-decoration: none;*/
   padding: 10px 20px;
  color: black;
  font-size: .7rem;
  letter-spacing: .25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.container{
  padding: 0;
}
/*- - - - - - - - - - - - - CLASSES*/


.navbar{
  padding: 20px 0px;
  padding-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  /*justify-content: space-between;*/
  background-color: rgba(255, 255, 255, .8);
  text-shadow: 2px 2px 5px rgba(5,5,5,.09);
  position: fixed;
  height: 100%;
  max-height: 100px;
  width: 100%;
  margin: 0 auto;
  color: black;
}

li>a{
  text-decoration: none;
  color: black;
  font-size: .7rem;
  letter-spacing: .25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.icons-nav{
  width: 20px;
  height: auto;
}

.logo {
  width: 3rem;
  height: auto;
}

.navbar-left, .navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: space-around;*/
  /*padding-top: 1.5 rem;*/
}

.navbar-right{
/*  margin-right: 2.5rem;
  padding-bottom: 1.5rem;*/
  float: none !important;

}

/*- - - - - - - - - - BANNER*/
.banner {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*.banner::before {
  opacity: .2;
}*/
.banner>h1{
  padding: 30px;
}

/*- - - - - - - - - - - SECTIONS*/

.section {
  /*height: 60vh;*/
  padding: 50px 0px;
  /*width: 100%;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.section-title>h3{
  margin: 10px;
}
/*- - - - - - - - - - - - PIX*/

.section-pic {
  height: 400px;
  width: 400px;
  background-position: center;
  background-size: cover;
  min-width: 300px;
  border-radius: 3px;
  /*margin-bottom: 30px;*/
  border-right: 5px solid rgba(222,255,147,1);
  margin: 0 auto;
}

/*- - - - - - - - - - SECTION PICTURES ARE BKGRND PIX*/
.about-pic {
  background-image: url('https://github.com/yaycake/pansexual/blob/master/Images/horse.jpg?raw=true');
}

.download-pic{
  border-right: none;
  border-left: 5px solid rgba(222,255,147,1);
  background-image: url('https://github.com/yaycake/pansexual/blob/master/Images/choke.jpg?raw=true');
}

.donate-pic{
  background-image: url('https://github.com/yaycake/pansexual/blob/master/Images/vag.jpg?raw=true');
  background-size: cover;
}

.instagram-gallery{
  height: 200px;
}


/*- - - - - - - - - - - - - FOOTER*/

.footer {
  background-color: black;
  height: 7rem;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: .75rem;
  margin-top: 4rem;
}

/*- - - - - - - - - - - - - - CARDS REFER TO TEXT + BUTTON BOXES*/

/*- - - - - - - - CARD ITSELF*/
.text-card {
  height: 100%;
  width: 27.5rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  background: rgba(255,255,255,.2);
  margin: 0 auto;
}


.about-card, .donate-card {
  text-align: left;
  /*border-left: 4px solid rgba(222,255,147,0.49);*/
}

.download-card {
  text-align: right;
  /*border-right: 4px solid rgba(222,255,147,0.49);*/
}

/*- - - - - - - - - CARD TITLE*/

.card-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.card-title>h3{
  margin: 10px;
}

.download-card>.card-title{
  justify-content: flex-end!important;
}





/*- - - - - - - - - - - CARD TEXT*/
.card-text{
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  /*padding-right: 6rem;*/
}


.download-text{
  /*padding-right: 0px !important;*/
  /*padding-left: 6rem;*/
  text-align: right;
}


.about-text, .donate-text{
  /*padding-right: 6rem;*/
}


/*- - - - - - - - - - - - - - - - BUTTON*/

.button {
  /*background-color: rgba(222,255,147,1);*/
  background-color:black;
  color: white;
  width: 100px;
  height: 40px;
  width: 200px;
  border-radius: 2px;
  padding: 0px 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid rgba(222,255,147,1);
  border-right: 5px solid rgba(222,255,147,1);
}

.button>a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.download-button{
  margin-left: auto;
}

.donate-button {
  height: 40px;
  margin: 1px;
}

.payment-button{
  width: 100%
  height: auto;
}

.payment-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px
}

.paypal, .bitcoin {
  width: 150px
}

.bitcoin-qr{
  width: 5rem;
  height: auto;
}

.contactme {
  width: 200px;
}

/*- -- - - - - - - - - - ICONS*/
.icons {
  width: 30px;
  height: 30px;
  margin: 30px;
}



/*- - - - - - - - - - - - - - - ALL THESE DEVICES WOMAN*/
/*@media only screen and (max-width: 964px) body {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (max-width: 964px) .navbar {
    -webkit-height:3rem;
    -ms-height: 3rem;
    height: 3rem;
}*/


